<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.peony.remote.sdey.impl.mapper.MenZhenLiangMapper">
    <resultMap id="BaseResultMap" type="com.peony.remote.sdey.api.po.MenZhenLiang">
        <!--
          WARNING - @mbg.generated
        -->
        <result column="BRID" jdbcType="NUMERIC" property="brid"/>
        <result column="GHRQ" jdbcType="DATE" property="ghrq"/>
        <result column="KSMC" jdbcType="VARCHAR" property="ksmc"/>
        <result column="YSMC" jdbcType="VARCHAR" property="ysmc"/>
        <result column="SFJZ" jdbcType="NUMERIC" property="sfjz"/>

        <result column="csny" jdbcType="DATE" property="csny"/>
        <result column="brxb" jdbcType="VARCHAR" property="brxb"/>
    </resultMap>
   <select id="getmzxx" resultMap="BaseResultMap" resultType="com.peony.remote.sdey.api.vo.ImportParam">
       select menzhen.BRID,menzhen.GHRQ,menzhen.KSMC,menzhen.YSMC,menzhen.SFJZ,dangan.csny,dangan.brxb from
       HISRUN.V_YZCX_MZXX_MZL menzhen LEFT JOIN HISRUN.V_YZCX_MZBRDA dangan on menzhen.BRID=dangan.BRID
       where menzhen.GHRQ BETWEEN #{starte} and #{end}
   </select>
</mapper>