<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.peony.remote.sdey.impl.mapper.SSXXAnpaiMapper">
    <resultMap id="BaseResultMap" type="com.peony.remote.sdey.api.po.SSXX_anpai">
        <result column="ssrq" jdbcType="DATE" property="ssrq"/>
        <result column="ssfj" jdbcType="VARCHAR" property="ssfj"/>
        <result column="brks" jdbcType="VARCHAR" property="brks"/>

        <result column="ssmc" jdbcType="VARCHAR" property="ssmc"/>
        <result column="brxm" jdbcType="VARCHAR" property="brxm"/>
        <result column="ssys" jdbcType="VARCHAR" property="ssys"/>
        <result column="brnl" jdbcType="NUMERIC" property="brnl"/>
        <result column="brxb" jdbcType="VARCHAR" property="brxb"/>
    </resultMap>
    <select id="getInfoByBetweenDate" resultMap="BaseResultMap">
        SELECT
            ssrq,
            ssfj,
            brks,ssmc,brxm,ssys,brnl,brxb
        FROM hisrun.V_YZCX_SSAP
        <where>
            ssrq BETWEEN #{starte} AND #{end}
            <if test="ksname != null and ksname.length()>0" >
                and brks=#{ksname,jdbcType=VARCHAR}
            </if>
        </where>
        order by ssrq desc
    </select>
</mapper>