<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.peony.remote.sdey.impl.mapper.SSXXInfoMapper">
    <resultMap id="BaseResultMap" type="com.peony.remote.sdey.api.po.SSXX_info">
        <result column="ssrq" jdbcType="DATE" property="ssrq"/>
        <result column="sqks" jdbcType="VARCHAR" property="sqks"/>
    </resultMap>
    <select id="getInfoByBetweenDate" resultMap="BaseResultMap">
        SELECT
            ssrq,
            sqks
        FROM hisrun.V_YZCX_SSXX
        WHERE ssrq BETWEEN #{starte} AND #{end}
    </select>
</mapper>