<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.peony.remote.sdey.impl.mapper.YuYueLiangMapper">
    <resultMap id="BaseResultMap" type="com.peony.remote.sdey.api.po.YuYueLiang">
        <!--
          WARNING - @mbg.generated
        -->
        <result column="BRID" jdbcType="NUMERIC" property="brid"/>
        <result column="YYRQ" jdbcType="DATE" property="yyrq"/>
        <result column="KS" jdbcType="VARCHAR" property="ks"/>
        <result column="YS" jdbcType="VARCHAR" property="ys"/>
    </resultMap>
    <select id="getyyl" resultMap="BaseResultMap" resultType="com.peony.remote.sdey.api.vo.ImportParam">
        SELECT
            BRID,
            YYRQ,
            KS,
            YS
        FROM hisrun.V_YZCX_MZXX_yyl
        WHERE YYRQ BETWEEN #{starte} AND #{end}
    </select>
</mapper>